# === Node / Frontend ===
**/node_modules/
**/dist/
**/build/
.eslintcache
.stylelintcache
*.local

# === Логи ===
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# === Docker ===
.docker/
**/.env
**/.env*.local

# === Системный хлам Windows / IDE ===
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# VS Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/
*.code-workspace

# JetBrains (WebStorm / Rider)
.idea/
*.iws
*.iml
*.ipr